:root { color-scheme: dark; }
html, body, #__nuxt { height: 100%; }
body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img { display: block; max-width: 100%; height: auto; }
* { border-radius: 0 !important; }

/* Typo du système de design */
:root {
  --font-title: 'Special Elite', ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
  --font-mono: 'Roboto Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
}

h1, h2, h3, .heading {
  font-family: var(--font-title) !important;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.mono { font-family: var(--font-mono) !important; }

/* Brutalisme: pas d’ombre, juste des traits */
.card-brutal { background: #000; }
.card-brutal, .card-brutal * { box-shadow: none !important; }
.ring-white-1 { box-shadow: inset 0 0 0 1px #fff; }

/* Utilitaires de couleurs strictes */
.text-invert { color: #fff; }
.bg-ink { background: #000; }
.border-invert { border-color: #fff; }
